/* Css File */
* {
    font-family: Serif, "Times New Roman", serif;
    font-size: medium;
    color: #454545;
    box-sizing: border-box;
    background-color: #fafad2;
    margin: 0;
    padding: 0;
}
div#container {
    background-color: aqua;
}
h1 {
    font-size: 175%;
    text-align: center;
    margin-bottom: 25px;
}
h2 {
    font-size: 150%;
}
p {
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 150px;
    border: 1px solid black;
    margin-bottom: 15px;
}
#box1 {
    background-color: lightgray;
    position: relative;
}
#box2 {
    background-color: lightgray;
 }
#box3 {
    background-color: lightgray;
}